@{
    ViewData["Title"] = "Log In Failure";
}
<h1>@ViewData["Title"]</h1>
<h2>FAILED TO LOG IN</h2>

<form asp-controller="Home" asp-action="Index" method="post">
    <input type="submit" value="Return to Home Page" />
</form>
